.home-fligth {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(47, 106, 127);
        bottom: 0;
        top: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }

    video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
        pointer-events: none;
    }

    .homeContent {
        width: 100%;
        height: max-content;
        padding: 6rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: hsl(0, 0%, 100%);
        z-index: 100;

        .textDiv {
            padding: 2rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle {
                position: relative;
                font-size: 1.8rem;
            }
        }

        .cardDiv-Hotels {
            display: none;
        }

        .cardDiv-Packages {
            display: none;
        }

        .cardDiv-Airport {
            position: relative;
            padding: 2rem 1rem;
            background: hsl(0, 0%, 100%);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            gap: 1rem;

            .tripTypeContainer {
                display: flex;
                position: absolute;
                bottom: -0.7rem;
                left: 50%;
                transform: translateX(-50%);
            }

            label {
                display: block;
                color: hsl(240, 4%, 36%);
                padding-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }

            .label_total {
                justify-content: space-between;
                align-items: center;

                .total {
                    color: hsl(240, 4%, 36%);
                    font-size: 18px;
                    padding-bottom: 10px;
                }
            }

            .btn {
                margin-top: 1rem;
                margin: 0 2rem;
                flex-direction: column;
                align-items: center;
                width: 340px;
                background: linear-gradient(to right, rgba(25, 147, 255, 0.5), rgba(25, 147, 255, 0.85));

                &:hover {
                    background: rgba(25, 147, 255, 1.2);
                    ;
                }

                a {
                    font-weight: 600;
                    color: hsl(0, 0%, 100%);
                }
            }

            .input {
                height: 40px;
                padding: 0 1rem;
                background-color: rgba(255, 255, 255, 0.7);

                border-radius: 3rem;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;

                    &::placeholder {
                        font-size: 13px;
                    }
                }

                .icons {
                    font-size: 18px;
                    color: hsl(199, 100%, 33%) !important;
                    margin-left: 10px;
                }

                .input[type=range] {
                    background: blue;
                }
            }

            .searchOptions {
                position: absolute;
                background: linear-gradient(to right, rgba(25, 147, 255, 0.5), rgba(25, 147, 255, 0.85));
                width: max-content;
                bottom: -0.7rem;
                column-gap: .8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left: 50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background: rgba(25, 147, 255, 1.2);
                }

                .icon {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                }

                .filterPopup {
                    position: fixed;
                    top: 80px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 10px;
                    padding: 10px;
                    z-index: 100;
                    width: 400px;
                }
            }

        }

        .homeFooterIcons {
            width: 100%;
            justify-content: space-between;
            margin-top: -15px;

            .icon {
                font-size: 20px;
                margin: 0 5px;
                color: hsl(0, 0%, 100%);
                font-weight: 600;

                &:hover {
                    color: hsl(199, 100%, 33%);
                }
            }
        }
    }
}

.home-Packages {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(47, 106, 127);
        bottom: 0;
        top: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }

    video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
        pointer-events: none;
    }

    .homeContent {
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: hsl(0, 0%, 100%);
        z-index: 100;

        .textDiv {
            padding: 2rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle {
                position: relative;
                font-size: 1.8rem;
            }
        }

        .cardDiv-Packages {
            position: relative;
            padding: 2rem 1rem;
            background: hsl(0, 0%, 100%);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            gap: 1rem;

            .selectDiv {
                background-color: rgba(255, 255, 255, 0.7);
                padding: 2rem 1rem;
                border-radius: 10px;
                position: relative;
                gap: 1rem;

                .custom-input {
                    width: 300px;
                    padding: 10px;
                    border: 4px solid #ccc;
                    border-radius: 5px;
                }

                .custom-item {
                    color: blue;
                    font-weight: bold;
                    background-color: lightblue;
                }

            }

            label {
                display: block;
                color: hsl(240, 4%, 36%);
                padding-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }

            .label_total {
                justify-content: space-between;
                align-items: center;

                .total {
                    color: hsl(240, 4%, 36%);
                    font-size: 18px;
                    padding-bottom: 10px;
                }
            }

            .btn {
                margin-top: 1rem;
                flex-direction: column;
                align-items: center;
                background: linear-gradient(to right, rgba(25, 147, 255, 0.5), rgba(25, 147, 255, 0.85));

                &:hover {
                    background: rgba(25, 147, 255, 1.2);
                    ;
                }

                a {
                    font-weight: 600;
                    color: hsl(0, 0%, 100%);
                }
            }

            .input {
                height: 40px;
                padding: 0 1rem;
                background-color: rgba(255, 255, 255, 0.7);

                border-radius: 3rem;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;

                    &::placeholder {
                        font-size: 13px;
                    }
                }

                .icons {
                    font-size: 18px;
                    color: hsl(199, 100%, 33%) !important;
                    margin-left: 10px;
                }

                .input[type=range] {
                    background: blue;
                }

            }

            .searchOptions {
                position: absolute;
                background: linear-gradient(to right, rgba(25, 147, 255, 0.5), rgba(25, 147, 255, 0.85));
                width: max-content;
                bottom: -0.7rem;
                column-gap: .8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left: 50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background: rgba(25, 147, 255, 1.2);
                }

                .icon {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                }

                .filterPopup {
                    position: fixed;
                    top: 80px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 10px;
                    padding: 10px;
                    z-index: 100;
                    width: 400px;
                }

            }

        }

        .cardDiv-Airport {
            display: none;
        }

        .cardDiv-Hotels {
            display: none;
        }

        .homeFooterIcons {
            width: 100%;
            justify-content: space-between;
            margin-top: 70px;

            .icon {
                font-size: 20px;
                margin: 0 5px;
                color: hsl(0, 0%, 100%);
                font-weight: 600;

                &:hover {
                    color: hsl(199, 100%, 33%);
                }
            }
        }
    }
}

.home-H {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(47, 106, 127);
        bottom: 0;
        top: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }

    video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
        pointer-events: none;
    }

    .homeContent {
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: hsl(0, 0%, 100%);
        z-index: 100;

        .textDiv {
            padding: 2rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle {
                position: relative;
                font-size: 1.8rem;
            }
        }

        .cardDiv-Hotels {
            position: relative;
            padding: 2rem 1rem;
            background: hsl(0, 0%, 100%);
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.7);
            gap: 1rem;

            .input {
                height: 40px;
                padding: 0 1rem;
                background-color: rgba(255, 255, 255, 0.7);

                border-radius: 3rem;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;

                    &::placeholder {
                        font-size: 13px;
                    }
                }

                .icon {
                    font-size: 18px;
                    color: hsl(199, 100%, 33%) !important;
                    margin-left: 10px;
                }

                .input[type=range] {
                    background: blue;
                }
            }

            label {
                display: block;
                color: hsl(240, 4%, 36%);
                padding-bottom: 10px;
                font-size: 13px;
                font-weight: 500;
            }

            .label_total {
                justify-content: space-between;
                align-items: center;

                .total {
                    color: hsl(240, 4%, 36%);
                    font-size: 18px;
                    padding-bottom: 10px;
                }
            }

            .btn {
                margin-top: 1rem;
                flex-direction: column;
                align-items: center;
                background: linear-gradient(to right, rgba(25, 147, 255, 0.5), rgba(25, 147, 255, 0.85));

                &:hover {
                    background: rgba(25, 147, 255, 1.2);
                    ;
                }

                a {
                    font-weight: 600;
                    color: hsl(0, 0%, 100%);
                }
            }

            .input {
                height: 40px;
                padding: 0 1rem;
                background-color: rgba(255, 255, 255, 0.7);

                border-radius: 3rem;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;

                    &::placeholder {
                        font-size: 13px;
                    }
                }

                .icons {
                    font-size: 18px;
                    color: hsl(199, 100%, 33%) !important;
                    margin-left: 10px;
                }

                .input[type=range] {
                    background: blue;
                }
            }

            .searchOptions {
                position: absolute;
                background: linear-gradient(to right, rgba(25, 147, 255, 0.5), rgba(25, 147, 255, 0.85));
                width: max-content;
                bottom: -0.7rem;
                column-gap: .8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left: 50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background: rgba(25, 147, 255, 1.2);
                }

                .icon {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                }
            }
        }

        .cardDiv-Packages {
            display: none;
        }

        .cardDiv-Airport {
            display: none;
        }

        .homeFooterIcons {
            width: 100%;
            justify-content: space-between;
            margin-top: 125px;

            .icon {
                font-size: 20px;
                margin: 0 5px;
                color: hsl(0, 0%, 100%);
                font-weight: 600;

                &:hover {
                    color: hsl(199, 100%, 33%);
                }
            }
        }
    }
}

.home {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(47, 106, 127);
        bottom: 0;
        top: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }

    video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
        pointer-events: none;
    }

    .homeContent {
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: hsl(0, 0%, 100%);
        z-index: 100;

        .textDiv {
            padding: 2rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle {
                position: relative;
                font-size: 1.8rem;
            }
        }

        .cardDiv-Hotels {
            display: none;
        }

        .cardDiv-Packages {
            display: none;
        }

        .cardDiv-Airport {
            display: none;
        }


        .homeFooterIcons {
            width: 100%;
            justify-content: space-between;
            margin-top: 150px;

            .icon {
                font-size: 20px;
                margin: 0 5px;
                color: hsl(0, 0%, 100%);
                font-weight: 600;

                &:hover {
                    color: hsl(199, 100%, 33%);
                }
            }
        }
    }
}


//MEDIA QUERIES for home

@media screen and (min-width: 250px) {
    .home {
        height: 75vh;
    }
}

@media screen and (min-width: 500px) {
    .home {
        height: 90vh;

        .homeContent {
            .textDiv {
                .smallText {
                    font-size: 16px;
                }

                .homeTitle {
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;
                }
            }
        }
    }
}

@media screen and (min-width: 660px) {
    .home {
        height: 95vh;
    }
}

@media screen and (min-width: 940px) {
    .home {
        height: 100vh;
    }
}

@media screen and (min-width: 1240px) {
    .home {
        height: 100vh;
    }
}


//MEDIA QUERIES for home-Airport

@media screen and (min-width: 250px) {
    .home-fligth {
        height: 90vh;

        .homeContent {
            .textDiv {
                .smallText {
                    font-size: 16px;
                }

                .homeTitle {
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;
                }
            }

            .cardDiv-Airport {
                grid-template-columns: repeat(2, 1fr);

                .tripTypeContainer {
                    display: flex;
                    position: absolute;
                    bottom: -1.3rem;
                    left: 50%;
                    transform: translateX(-50%);

                    .btn {
                        width: 100px;

                        a {
                            font-weight: 600;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .home-fligth {
        height: 90vh;

        .homeContent {
            .textDiv {
                .smallText {
                    font-size: 16px;
                }

                .homeTitle {
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;
                }
            }

            .cardDiv-Airport {
                grid-template-columns: repeat(2, 1fr);

                .tripTypeContainer {
                    display: flex;
                    position: absolute;
                    bottom: -1.3rem;
                    left: 50%;
                    transform: translateX(-50%);

                    .btn {
                        width: 160px;

                        a {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 660px) {
    .home-fligth {
        height: 95vh;

        .homeContent {
            .cardDiv-Airport {
                padding: 2rem 1rem;
                grid-template-columns: repeat(2, 1fr);

                .tripTypeContainer {
                    display: flex;
                    position: absolute;
                    bottom: -1.3rem;
                    left: 50%;
                    transform: translateX(-50%);

                    .btn {
                        width: 200px;

                    }
                }
            }
        }
    }
}

@media screen and (min-width: 940px) {
    .home-fligth {
        height: 100vh;

        .homeContent {
            .cardDiv-Airport {
                .tripTypeContainer {
                    display: flex;
                    position: absolute;
                    bottom: -1.3rem;
                    left: 50%;
                    transform: translateX(-50%);

                    .btn {
                        width: 350px;

                    }
                }
            }

        }

    }
}

@media screen and (min-width: 1240px) {
    .home-fligth {
        height: 100vh;

        .homeContent {
            padding-left: 0;
            padding-right: 0;

            .cardDiv-Airport {
                padding: 2rem 1rem;
                grid-template-columns: repeat(2, 1fr);

                .tripTypeContainer {
                    display: flex;
                    position: absolute;
                    bottom: -1.3rem;
                    left: 50%;
                    transform: translateX(-50%);

                    .btn {
                        width: 400px;

                    }
                }

                .input {
                    margin-bottom: 1rem;
                }

                .searchOptions {
                    bottom: -1rem;
                    padding: 8px 1rem;

                    span {
                        font-size: 17px;
                    }

                }
            }
        }
    }
}

//MEDIA QUERIES for home-Packages

@media screen and (min-width: 500px) {
    .home-Packages {
        height: 90vh;

        .homeContent {
            .textDiv {
                .smallText {
                    font-size: 16px;
                }

                .homeTitle {
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;
                }
            }

            .cardDiv-Packages {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

}

@media screen and (min-width: 660px) {
    .home-Packages {
        height: 95vh;
    }
}

@media screen and (min-width: 940px) {
    .home-Packages {
        height: 100vh;
    }
}

@media screen and (min-width: 1240px) {
    .home-Packages {
        height: 100vh;
    }
}

//MEDIA QUERIES for  home-Hotels
@media screen and (min-width: 500px) {
    .home-H {
        height: 90vh;

        .homeContent {
            .textDiv {
                .smallText {
                    font-size: 16px;
                }

                .homeTitle {
                    position: relative;
                    font-size: 2.3rem;
                    width: max-content;
                }
            }

            .cardDiv-Hotels {
                grid-template-columns: repeat(2, 1fr);
            }


        }
    }
}

@media screen and (min-width: 660px) {
    .home-H {
        height: 95vh;

        .homeContent {
            .cardDiv-Hotels {
                padding: 2rem 1rem;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media screen and (min-width: 940px) {
    .home-H {
        height: 100vh;
    }
}

@media screen and (min-width: 1240px) {
    .home-H {
        height: 100vh;

        .homeContent {
            padding-left: 0;
            padding-right: 0;

            .cardDiv {
                padding: 2rem 1rem;
                grid-template-columns: repeat(3, 1fr);

                .input {
                    margin-bottom: 1rem;
                }

                .searchOptions {
                    bottom: -1rem;
                    padding: 8px 1rem;

                    span {
                        font-size: 17px;
                    }

                }
            }
        }
    }
}